<div ng-cloak>
    <md-content>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary"  ng-click="addStockPage()">Add Stock</md-button>
        </section>
    </md-content>
</div>


<table class="table table-hover">
<tr>
    <tr>
        <th>Stock Id</th>
        <th>Code</th>
       <th>Name</th>
    </tr>


</tr>
    <tr ng-repeat="todo in todos">
        <td>{{todo.productId}}</td>
        <td>
            {{todo.productCode}}
        </td>
        <td>
            {{todo.productName}}
        </td>
    </tr>
</table>



